#KEYS: UDP = 1 BT = 2 MQTT = 3


[minions]
TOTAL_MINION_NUM =10
ACTIVE_MINIONS =3
MINION_DECORATORS=UDP
MINION_DECORATORS=UDP
MINION_DECORATORS=UDP
MINION_DECORATORS=UDP
MINION_DECORATORS=BT,UDP
MINION_DECORATORS=UDP,BACKGROUND
MINION_DECORATORS=FONT
MINION_DECORATORS=BT
MINION_DECORATORS=MQTT,MQTT
MINION_DECORATORS=BACKGROUND,UDP
UDP_MINION_PORT=7010
UDP_MINION_PORT=7020
UDP_MINION_PORT=7030
UDP_MINION_PORT=7040
UDP_MINION_PORT=7050
UDP_MINION_PORT=7060
UDP_MINION_IP=127.0.1.1
UDP_MINION_IP=127.0.1.1
UDP_MINION_IP=127.0.1.1
UDP_MINION_IP=127.0.1.1
UDP_MINION_IP=127.0.1.1
UDP_MINION_IP=127.0.1.1
BT_MINION_NAME=myjbl
BT_MINION_NAME=toothbrush
BT_MINION_PASSWORD=<your-bt-password>
BT_MINION_PASSWORD=<your-bt-password>
MQTT_MINION_BROKER_IP=1.1.1.1
MQTT_MINION_BROKER_IP=2.2.2.2
MQTT_MINION_PORT=9010
MQTT_MINION_PORT=9020
TERMINAL_THRESHOLD=1

[master]
TCP_PORT_MASTER=8080
UDP_PORT_MASTER=6060
MASTER_IP=127.0.1.1

[framework]
PLUGINS_DIR=./plugins
SQL_USER=<your-mysql-user>
SQL_PASSWORD=<your-mysql-password>
SQL_DB=final_project_db


